/*
    依赖：
    1. Markdown编辑器（需支持自定义样式）：Typora：https://typora.io/
    2. 图片自动上传图床：Mac：iPic (AppStore搜索下载) / Windows：MPic (http://mpic.lzhaofu.cn/)
    3. 页面样式文件（即本文件）：https://gist.githubusercontent.com/terrylou/e0555dd04cc87ea5daf3022b158703f8/raw/71e03bdab1f8f65bd96c6ef2a10df1bfca2c4dc6/wechat.css

    配置方式（以Typora为例）：
    0. (可选) 修改本文件27行--highlight-color后的值，自定义主题色
    1. 打开Typora，进入偏好设置 - 通用，选择打开主题文件夹，将本CSS样式文件放入该文件夹下
    3. 将图片上传至在线图床后插入文章内，以方便微信公众平台自动同步
    3. 按照Markdown对文档进行必要格式化后，将渲染出的内容复制粘贴到微信公众平台编辑器内

    参考：
    1. Markdown基本语法：https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf
    2. 微信公众平台正文样式代码：http://hongbowei.com/using-markdown-css-to-complete-typesetting.html
*/

.markdown-here-wrapper {
    font-size: 16px;
    font-family: -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
    line-height: 1.8em;
    letter-spacing: .1em;
}

pre,
code {
    font-size: 14px;
    font-family: Roboto, "Courier New", Consolas, Inconsolata, Courier, monospace;
    margin: auto 5px;
}

code {
    display: inline;
    white-space: pre-wrap;
    border-radius: 2px;
    background-color: #f3f4f4;
}

pre {
    display: block !important;
    padding: .8em;
    font-size: 15px;
    line-height: 1.4em;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
}

pre code {
    white-space: pre;
    overflow: auto;
    border-radius: 3px;
    padding: 1px 1px;
    display: block !important;
}

strong,
b {
    color: #BF360C;
}

em,
i {
    color: #009688;
}

hr {
    border: 1px solid #BF360C;
    margin: 1.5em auto;
}

p {
    margin: 1.5em 10px !important;
    font-size: 15px;
    font-family: -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
    color: #3a3a3a;
}

table,
pre,
dl,
blockquote,
q,
ul,
ol {
    margin: 10px 5px;
}

ul,
ol {
    padding-left: 15px;
}

li {
    margin: 10px;
}

li p {
    margin: 10px 0 !important;
}

ul ul,
ul ol,
ol ul,
ol ol {
    margin: 0;
    padding-left: 10px;
}

ul {
    list-style-type: circle;
}

dl {
    padding: 0;
}

dl dt {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}

dl dd {
    margin: 0 0 10px;
    padding: 0 10px;
}

blockquote,
q {
    border-left: 2px solid #009688;
    padding: 0 10px;
    color: #777;
    quotes: none;
    margin-left: 1em;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 20px 0 10px;
    padding: 0;
    font-style: bold !important;
    color: #009688 !important;
    text-align: center !important;
    margin: 1.5em 5px !important;
    padding: 0.5em 1em !important;
}

h1 {
    font-size: 26px !important;
    border-bottom: 1px solid #ddd !important;
}

h2 {
    font-size: 20px !important;
    border-bottom: 1px solid #eee !important;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h6 {
    margin: 1.5em 10px !important;
    font-size: 13px;
    font-family: -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
    color: #999;
}

table {
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
    font: inherit;
    border: 0;
    margin: 0 auto;
}

tbody {
    margin: 0;
    padding: 0;
    border: 0;
}

table tr {
    border: 0;
    border-top: 1px solid #CCC;
    background-color: white;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n) {
    background-color: #F8F8F8;
}

table tr th,
table tr td {
    font-size: 16px;
    border: 1px solid #CCC;
    margin: 0;
    padding: 5px 10px;
}

table tr th {
    font-weight: bold;
    color: #eee;
    border: 1px solid #009688;
    background-color: #009688;
}

center {
    font-size: 14px;
    color: #999;
}


