b,
em,
i,
strong,
p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
q,
table {
    font-family: -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
    --highlight-color: #009688;
}

.markdown-here-wrapper {
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: .1em;
}

pre,
code {
    font-size: 14px;
    font-family: Roboto, 'Courier New', Consolas, Inconsolata, Courier, monospace;
    margin: auto 5px;
}

code {
    display: inline;
    white-space: pre-wrap;
    border-radius: 2px;
    background-color: #f3f4f4;
}

pre {
    display: block !important;
    padding: .8em;
    font-size: 15px;
    line-height: 1.4em;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
}

pre code {
    display: block !important;
    overflow: auto;
    padding: 1px 1px;
    border-radius: 3px;
    white-space: pre;
}

strong,
b {
    color: var(--highlight-color);
}

em,
i {
    color: var(--highlight-color);
}

hr {
    margin: 1.5em auto;
    border: 1px solid #BF360C;
}

p {
    margin: 1.5em 10px !important;
    font-size: 15px;
    color: #3a3a3a;
}

table,
pre,
dl,
blockquote,
q,
ul,
ol {
    margin: 10px 5px;
}

ul,
ol {
    padding-left: 15px;
    font-family: -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
}

li {
    margin: 10px;
}

li p {
    margin: 10px 0 !important;
}

ul ul,
ul ol,
ol ul,
ol ol {
    margin: 0;
    padding-left: 10px;
}

ul {
    list-style-type: circle;
}

dl {
    padding: 0;
}

dl dt {
    font-size: 1em;
    font-weight: 700;
    font-style: italic;
}

dl dd {
    margin: 0 0 10px;
    padding: 0 10px;
}

blockquote,
q {
    border-left: 2px solid var(--highlight-color);
    padding: 0 10px;
    color: #777;
    quotes: none;
    margin-left: 1em;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: 900 !important;
    color: var(--highlight-color) !important;
    text-align: center !important;
    margin: 1.5em 5px !important;
    padding: 0.5em 1em !important;
}

h1 {
    font-size: 26px !important;
    border-bottom: 1px solid #ddd !important;
}

h2 {
    font-size: 20px !important;
    border-bottom: 1px solid #eee !important;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h6 {
    margin: 1.5em 10px !important;
    font-size: 13px;
    color: #999;
}

table {
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
    font: inherit;
    border: 0;
    margin: 0 auto;
}

tbody {
    margin: 0;
    padding: 0;
    border: 0;
}

table tr {
    border: 0;
    border-top: 1px solid #CCC;
    background-color: white;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n) {
    background-color: #F8F8F8;
}

table tr th,
table tr td {
    font-size: 16px;
    border: 1px solid #CCC;
    margin: 0;
    padding: 5px 10px;
}

table tr th {
    font-weight: 700;
    color: #eee;
    border: 1px solid var(--highlight-color);
    background-color: var(--highlight-color);
}

center {
    font-size: 14px;
    color: #999;
}

img {
    max-width: 100%;
}
